body{
    margin: 0;
}

h1{
    font-family: "Kalam", cursive;
    text-align: center;
    font-size: 4.5vh; 
    color: #ffffff;
}

.header{
    padding: 1%;
    background-color: #793140;
}
.projects{
    margin: 4vw;
    width: 15vw;
    height: 15vw;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
}

a{
    text-decoration: solid;
    color: #000000;
}

p{
    font-size: 15vw;
    font-weight: 800;
    color:#793140;
}